
<h1>Editar Endereço</h1>

<%= form_with(model: @address, url: update_address_patient_path(@patient), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :cep %> <br>
    <%= form.text_field :cep %>
  </div>
    <br>
  <div class="field">
    <%= form.label :city %> <br>
    <%= form.text_field :city %>
  </div>
    <br>

  <div class="field">
    <%= form.label :neighborhood %><br>
    <%= form.text_field :neighborhood %>
  </div>
    <br>

  <div class="field">
    <%= form.label :street %><br>
    <%= form.text_field :street %>
  </div>
    <br>

  <div class="field">
    <%= form.label :next %><br>
    <%= form.text_field :next %>
  </div>
    <br>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>
