<head>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            }

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            }

        .details {
            margin-bottom: 20px;
            }

        .details label {
            font-weight: bold;
            }

        .details p {
            margin: 5px 0;
            }

        .button-container {
            text-align: center;
            margin-bottom: 20px;
            }

        .button-container a {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            }

        .button-container a:hover {
            background-color: darkblue;
            }
        .btn {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-custom {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white; /* Defina a cor do texto como branco */
            text-decoration: none;
            border-radius: 4px;
        }
        .btn-custom:hover {
            background-color: darkblue;
        }

    </style>
</head>

<div class="container">
    <h1>Detalhes sobre o paciente</h1>
    <div class="details">
        <%= link_to "Home", root_path, class: "btn btn-custom" %>
        <br><br>
        <p>Nome: <%= @patient.fullname %></p>

        <p>Data de nascimento: <%= @patient.birthdate %></p>

        <p>CPF: <%= @patient.cpf %></p>

        <p>Email: <%= @patient.email %></p>

        <h2>Endereço</h2>
        <p>CEP: <%= @patient.address.cep %></p>

        <p>Cidade: <%= @patient.address.city %></p>

        <p>Bairro: <%= @patient.address.neighborhood %></p>

        <p>Rua: <%= @patient.address.street %></p>

        <p>Próximo: <%= @patient.address.next %></p>
    </div>

    <div class="button-container">
        <%= link_to "Editar", edit_patient_path(@patient) %>

        <%= link_to 'Editar Endereço', edit_address_patient_path(@patient) %>

        <%= link_to 'Agendar Consulta', new_patient_consultation_path(@patient) %>

        <%= link_to "Listar Consultas", patient_consultation_path(@patient) %>

       <%= button_to "Deletar", @patient, method: :delete %>

    </div>

    <%= link_to "Voltar", patients_path, class: "btn btn-custom" %>

</div>


