

<%= form_with model: @doctor do |form| %>
    <div>
        <%= form.label :fullname %><br>
        <%= form.text_field :fullname %>
        <% form.object.errors.full_messages_for(:fullname).each do |message| %>
            <div> <%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :cpf %><br>
        <%= form.text_field :cpf %>
        <% form.object.errors.full_messages_for(:cpf).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
        <% form.object.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :specialty %><br>
        <%= form.text_field :specialty %>
        <% form.object.errors.full_messages_for(:specialty).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :crm %><br>
        <%= form.text_field :crm %>
        <% form.object.errors.full_messages_for(:crm).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.submit "Confirmar" %>
    </div>
<% end %>
