<head>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            }

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            }

        .details {
            margin-bottom: 20px;
            }

        .details label {
            font-weight: bold;
            }

        .details p {
            margin: 5px 0;
            }

        .button-container {
            text-align: center;
            margin-bottom: 20px;
            }

        .button-container a {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            }

        .button-container a:hover {
            background-color: darkblue;
            }
        .btn {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-custom {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white; /* Defina a cor do texto como branco */
            text-decoration: none;
            border-radius: 4px;
        }
        .btn-custom:hover {
            background-color: darkblue;
        }
        .btn-home {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border-radius: 4px;
        }

        .btn-home:hover {
            background-color: darkblue;
        }

    </style>
</head>

<div class="container">
    <h1>Detalhes sobre o médico</h1>

    <div class="details">
        <%= link_to "Home", root_path%>
        <p>Nome completo: <%= @doctor.fullname %></p>

        <p>CPF: <%= @doctor.cpf %></p>

        <p>E-mail: <%= @doctor.email %></p>

        <p>Especialidade: <%= @doctor.specialty %></p>

        <p>CRM: <%= @doctor.crm %></p>
    </div>

    <div class="button-container">

        <%= link_to "Editar", edit_doctor_path(@doctor) %>
        <%= link_to "Consultas", consultations_doctor_path(@doctor) %>

    </div>

    <%= link_to "Voltar", doctors_path, class: "btn btn-custom" %>


</div>
